@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Wet+Paint&display=swap");
@import "mixins";

$color-1: #0f1016;
$text-color: #f0f0f0;
$accent-color: #006aff;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: Open sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navigation {
  height: 60px;
  background-color: $color-1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include phone {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: $color-1;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-out;
  }
}

.navigation a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $text-color;

  @include phone {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
}

.navigation a:hover {
  background-color: $accent-color;
}

.navigation .home-link {
  margin-right: auto;
}

.navigation svg {
  fill: $text-color;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
  @include phone {
    display: block;
    padding: 20px;
  }
}

#sidebar-active:checked ~ .links-container {
  right: 0;
}
#sidebar-active:checked ~ #overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
