@charset "UTF-8";
.breadcrumbs {
  font-family: Arial;
  list-style: none;
  background-color: transparent;
  padding: 0 15px;
}
.breadcrumbs__list {
  display: inline;
}
.breadcrumbs__list a {
  color: #0275d8;
  text-decoration: none;
}
.breadcrumbs__list a:hover {
  color: #01447e;
  text-decoration: underline;
}
.breadcrumbs__list + li:before {
  padding: 8px;
  color: black;
  content: "> ";
}

.products {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  gap: 20px;
  box-sizing: border-box;
}
.products__card {
  background-color: white;
  font-family: sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  overflow: hidden;
  border: 1px solid white;
  box-sizing: border-box;
  flex: 1 0 calc(33% - 10px);
  box-shadow: 5px 5px 5px rgba(150, 150, 150, 0.156);
}
.products__card__image {
  max-width: 200px;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}
.products__card__image--disabledimage {
  filter: grayscale(100%);
}
.products__card__name {
  margin-bottom: 0;
}
.products__card____brand {
  margin-top: 0;
}
.products__card__pricenormal {
  color: #333333;
  font-weight: bold;
}
.products__card__promo {
  background-color: #eb0203;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  animation: pulse 3s infinite;
}
.products__card:hover {
  border: 1px solid;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(235, 2, 3, 0.5);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(235, 2, 3, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(235, 2, 3, 0.5);
  }
}
.products__card__addcart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0px;
  font-size: 13px;
  border: 1px solid #656565;
  margin-top: 30px;
  width: 100%;
}
.products__card__addcart--icon {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}
.products__card__addcart:hover {
  background-color: #eaeaea;
}
.products__card__addcart--outofstock {
  cursor: auto;
  background-color: rgb(179, 179, 179);
  color: white;
  border-color: #ffffff;
  padding: 10px 20px;
}
.products__card__addcart--outofstock:hover {
  background-color: rgb(179, 179, 179);
}
.products__card__prices {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.products__card__prices--old {
  color: #777;
  text-decoration: line-through;
  margin: 0 10px;
}
.products__card__prices--new {
  color: #eb0203;
  font-weight: bold;
  margin-left: 5px;
}

@media (max-width: 576px) {
  .products {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .products__card {
    flex: 1 0 100%;
  }
}
@media (max-width: 1024px) {
  .products__card {
    flex: 1 0 calc(50% - 10px);
  }
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(241, 241, 241);
}/*# sourceMappingURL=styles.css.map */