@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Wet+Paint&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Open sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
}

.breadcrumbs {
  font-family: Arial;
  list-style: none;
  background-color: transparent;
  padding: 20px 15px;
  margin-left: 10px;
}
.breadcrumbs__list {
  display: inline;
}
.breadcrumbs__list a {
  color: gray;
  text-decoration: none;
}
.breadcrumbs__list a:hover {
  color: #01447e;
  text-decoration: underline;
}
.breadcrumbs__list + li:before {
  padding: 8px;
  color: black;
  content: "> ";
}

header {
  background-color: #b76c5c;
}
@media (max-width: 825px) {
  header {
    display: grid;
    grid-template-areas: "mobile-logo navigation";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: flex-end;
  }
}

.navigation {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}
@media (max-width: 825px) {
  .navigation {
    grid-area: navigation;
    max-width: 100%;
    margin: 0;
  }
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 825px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 90%;
    background-color: #b76c5c;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-out;
  }
}
.links-container__link {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f0f0f0;
}
@media (max-width: 825px) {
  .links-container__link {
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
}
.links-container__link:hover {
  background-color: #cc9c8c;
}

.logo {
  margin-right: auto;
  font-size: 40px;
  font-weight: 600;
}

.mobile-logo {
  display: none;
}
@media (max-width: 825px) {
  .mobile-logo {
    display: grid;
    grid-area: mobile-logo;
    font-size: 40px;
    font-weight: 600;
    color: #f0f0f0;
    text-decoration: none;
    margin-left: 20px;
  }
}

.navigation svg {
  fill: #f0f0f0;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}
@media (max-width: 825px) {
  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    padding: 20px;
  }
}

#sidebar-active:checked ~ .links-container {
  right: 0;
}

#sidebar-active:checked ~ #overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  margin-right: 10px;
}
.search__button {
  background: none;
  color: none;
  border: none;
  padding: 0 5px 0 0;
  cursor: pointer;
  outline: inherit;
}
@media (max-width: 825px) {
  .search {
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 20px 20px;
  }
}
.search__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cc9c8c;
  border-radius: 5px;
  width: 30vw;
}
.search__bar input {
  border: 0;
  outline: none;
  font-size: inherit;
  background-color: transparent;
  margin-left: 2%;
  color: #f0f0f0;
}
.search__bar input::-moz-placeholder {
  color: #f0f0f0;
}
.search__bar input::placeholder {
  color: #f0f0f0;
}
@media (max-width: 825px) {
  .search__bar {
    width: 100%;
    height: 60px;
  }
}

.grid-body {
  display: grid;
  grid-template-areas: "filters products";
  grid-template-columns: 20% 80%;
  gap: 10px;
  padding: 10px;
}

.products {
  grid-area: products;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  gap: 20px;
  box-sizing: border-box;
}
.products__card {
  background-color: white;
  font-family: sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  overflow: hidden;
  border: 1px solid white;
  box-sizing: border-box;
  flex: 1 0 calc(33% - 10px);
  gap: 16px;
  box-shadow: 5px 5px 5px rgba(150, 150, 150, 0.156);
}
.products__card:hover {
  border: 1px solid;
}
.products__image {
  max-width: 200px;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}
.products__image--disabledimage {
  filter: grayscale(100%);
}
.products__name {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}
.products____brand {
  margin-top: 0;
}
.products__pricenormal {
  color: #333333;
  font-weight: bold;
}
.products__promo {
  background-color: #eb0203;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  animation: pulse 3s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(235, 2, 3, 0.5);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(235, 2, 3, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(235, 2, 3, 0.5);
  }
}
.products__addcart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0px;
  font-size: 13px;
  border: 1px solid #656565;
  margin-top: 30px;
  width: 100%;
}
.products__addcart--icon {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}
.products__addcart:hover {
  background-color: #eaeaea;
}
.products__addcart--outofstock {
  cursor: auto;
  background-color: rgb(179, 179, 179);
  color: white;
  border-color: #ffffff;
  padding: 10px 20px;
}
.products__addcart--outofstock:hover {
  background-color: rgb(179, 179, 179);
}
.products__prices {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.products__prices--old {
  color: #777;
  text-decoration: line-through;
  margin: 0 10px;
}
.products__prices--new {
  color: #eb0203;
  font-weight: bold;
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .products__card {
    flex: 1 0 calc(50% - 10px);
  }
}
@media (max-width: 576px) {
  .grid-body {
    grid-template-areas: "filters" "products";
    grid-template-columns: 1fr;
  }
  .products {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-content: center;
  }
  .products__card {
    flex: auto;
  }
}
.filters__container {
  grid-area: filters;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 25%;
}

.categories__container {
  width: 100%;
  height: 100%;
  border: 0.5px solid lightgray;
  border-radius: 4px;
  margin: 5px;
}

.age__container {
  width: 100%;
  height: 100%;
  border: 0.5px solid lightgray;
  border-radius: 4px;
  margin: 5px;
}

.brands__container {
  width: 100%;
  height: 100%;
  border: 0.5px solid lightgray;
  border-radius: 4px;
  margin: 5px;
}

.price__container {
  width: 100%;
  height: 100%;
  border: 0.5px solid lightgray;
  margin: 5px;
}

.categories__search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.categories__search__button {
  background: none;
  color: none;
  border: none;
  padding: 0 5px 0 0;
  cursor: pointer;
  outline: inherit;
}

.categories__title {
  padding-top: 10px;
  font-weight: bold;
}

.categories__search__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid black;
}
.categories__search__bar input {
  background-color: transparent;
  border: none;
  margin-left: 5px;
}

h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

li {
  font-family: Arial;
  color: rgb(80, 80, 80);
  list-style: none;
  margin: 5px;
}

.filter-title {
  margin: 20px 0 10px 0;
  font-weight: bold;
}

.filter-list {
  font-family: Arial;
  display: flex;
  justify-content: center;
  color: rgb(80, 80, 80) margin-bott;
  margin-bottom: 20px;
}

/* 
  width 100%;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease; */
/* 
.filters__opened {
transform: none;
opacity: 1;
} */
/* button {
  position: absolute;
  top: 10px;
  right: 10px;
} */
/* Java script
document.querySelector('button').addEventListener('click', () => {
  document.querySelector('.filters').classList.toggle('opened')
}) */
@media (max-width: 1024px) {
  .filters__container {
    flex: 1 0 calc(50% - 10px);
  }
}
@media (max-width: 576px) {
  .grid-body {
    grid-template-areas: "filters" "products";
    grid-template-columns: 1fr;
  }
  .filters__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-content: center;
  }
  .filters__container__card {
    flex: auto;
  }
}
footer {
  background-color: #000000;
}

.footer-navigation {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10%;
  margin: 0 auto;
  padding: 20px 20px 30px 20px;
  flex-wrap: wrap;
  border-bottom: 1px solid #f0f0f0;
  max-width: 90%;
}
@media (max-width: 400px) {
  .footer-navigation {
    gap: 30px;
    justify-content: space-evenly;
  }
}

.column__title {
  font-weight: bold;
}

.footer-navigation .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.footer-navigation .column__link {
  text-decoration: none;
  color: white;
}

.social-Icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}/*# sourceMappingURL=styles.css.map */