.products{
    // background-color: rgb(201, 221, 210);
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    gap:20px;
    box-sizing: border-box;
    // max-width: 1024px;
    // height: 500px;


        &__card{
            background-color: white;
            font-family: sans-serif;
            position:relative;
            display:flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            // flex:1;
            overflow: hidden;
            // flex-wrap: wrap;
            border: 1px solid white;
            // width:25%;
            box-sizing: border-box;
            flex: 1 0 calc(33% - 10px);
            gap:16px;
            box-shadow: 5px 5px 5px rgba(150, 150, 150, 0.156);
            
            &:hover{
                border: 1px solid;
            }
        }
        &__image{
            max-width: 200px;
            max-height: 200px;
            object-fit: contain;
            position:relative;
            border-radius: 20px;
            cursor:pointer;

            &--disabledimage{
                filter: grayscale(100%);
            }
        }

        &__name{
            // text-decoration: underline;
            margin-bottom: 0;
        }

        &____brand{
            margin-top:0;

        }

        &__pricenormal{
            color: #333333;
            font-weight: bold;
            // text-align: left;
        }

        &__promo{
            background-color: #eb0203;
            color: white;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 5px;
            position: absolute;
            top: 10px;
            right: 10px;
            text-transform: uppercase;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 5);
            animation: pulse 3s infinite;
            
        }


        @keyframes pulse {
            0% {
                transform: scale(1);
                box-shadow: 0 0 5px rgba(235, 2, 3, 0.5);
            }
            50% {
                transform: scale(1.1);
                box-shadow: 0 0 15px rgba(235, 2, 3, 0.7);
            }
            100% {
                transform: scale(1);
                box-shadow: 0 0 5px rgba(235, 2, 3, 0.5);
            }
        }

        &__addcart{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 10px 20px;
            cursor:pointer;
            border-radius: 0px;
            font-size: 13px;
            border: 1px solid #656565;
            margin-top: 30px;
            width:100%;
            &--icon{
                width: 20px;
                height: 20px;
                object-fit: cover;
                margin-right: 8px;
            }
            &:hover{
                background-color: #eaeaea;
            }

            &--outofstock{
                cursor:auto;
                background-color: rgb(179, 179, 179);
                color: white;
                border-color: #ffffff;
                padding: 10px 20px;
                &:hover{
                    background-color: rgb(179, 179,179);
                }
            }
        }

        &__prices{
            display: flex;
            align-items: center;
            margin: 0;
            padding:0;
                &--old{
                    color: #777;
                    text-decoration: line-through;
                    // margin-right: 5px;
                    margin: 0 10px;
                    // padding:0;
                }
                &--new{
                    color: #eb0203;
                    font-weight: bold;
                    margin-left: 5px;
                    // margin: 0;
                    // padding:0;
                }
            }
} 

@media (max-width: 576px){

    .products{
        display: flex;
        flex-direction: column;
        gap:15px;
        align-content: center;
        &__card{
            flex:1 0 100%;
        }

    }
}

@media (max-width: 1024px){

    .products__card{
        flex: 1 0 calc(50% - 10px);
    }

}