.filters__container {
  grid-area: filters;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 25%;
}

.categories__container {
  width: 100%;
  height: 100%;
  border: 0.5px solid lightgray;
  border-radius: 4px;
  margin: 5px;
}

.age__container {
  width: 100%;
  height: 100%;
  border: 0.5px solid lightgray;
  border-radius: 4px;
  margin: 5px;
}

.brands__container {
  width: 100%;
  height: 100%;
  border: 0.5px solid lightgray;
  border-radius: 4px;
  margin: 5px;
}

.price__container {
  width: 100%;
  height: 100%;
  border: 0.5px solid lightgray;
  margin: 5px;
}

// .categories__search {
//   display: flex;
//   flex-direction: column;
//   align-content: center;
// }

// .categories__button {
//   width: 80%;
//   display: flex;
//   flex-direction: column;
//   align-content: center;
//   border-color: rgb(80, 80, 80);
//   border-radius: 50px;
//   color: rgb(80, 80, 80);
//   margin: 5px;
//   cursor: pointer;
// }

.categories__search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.categories__search__button {
  background: none;
  color: none;
  border: none;
  padding: 0 5px 0 0;
  cursor: pointer;
  outline: inherit;
  // background-color: red;
}

.categories__title {
  padding-top: 10px;
}

.categories__search__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid black;
  & input {
    background-color: transparent;
    border: none;
    margin-left: 5px;
  }
}

h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

li {
  font-family: Arial;
  color: rgb(80, 80, 80);
  list-style: none;
  margin: 5px;
}

/* 
  width 100%;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease; */

/* 
.filters__opened {
transform: none;
opacity: 1;
} */

/* button {
  position: absolute;
  top: 10px;
  right: 10px;
} */

/* Java script
document.querySelector('button').addEventListener('click', () => {
  document.querySelector('.filters').classList.toggle('opened')
}) */
