header {
  background-color: $color-1;
  position: fixed;
  width: 100%;
  z-index: 2;
  top:0;
  
  @include header-phone {
    display: grid;
    grid-template-areas: "mobile-logo navigation";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: flex-end;
  }
}

.navigation {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  @include header-phone {
    grid-area: navigation;
    max-width: 100%;
    margin: 0;
  }
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include header-phone {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 90%;
    background-color: $color-1;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-out;
  }

  &__link {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $text-color;

    @include header-phone {
      height: auto;
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }
  }

  &__link:hover {
    background-color: $accent-color;
  }
}
.logo {
  margin-right: auto;
  font-size: 40px;
  font-weight: 600;
}

.mobile-logo {
  display: none;
  @include header-phone {
    display: grid;
    grid-area: mobile-logo;
    font-size: 40px;
    font-weight: 600;
    color: $text-color;
    text-decoration: none;
    margin-left: 20px;
  }
}

.navigation svg {
  fill: $text-color;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
  @include header-phone {
    display: block;
    padding: 20px;
  }
}

#sidebar-active:checked ~ .links-container {
  right: 0;
}
#sidebar-active:checked ~ #overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  margin-right: 10px;
  &__button {
    background: none;
    color: none;
    border: none;
    padding: 0 5px 0 0;
    cursor: pointer;
    outline: inherit;
  }
  @include header-phone {
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 20px 20px;
  }

  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $accent-color;
    border-radius: 5px;
    width: 30vw;

    & input {
      border: 0;
      outline: none;
      font-size: inherit;
      background-color: transparent;
      margin-left: 2%;
      color: $text-color;
    }
    & input::placeholder {
      color: $text-color;
    }
    @include header-phone {
      width: 100%;
      height: 60px;
    }
  }
}
